* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 7em;
}

h3 {
    font-size: 2em;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7em;
    margin-bottom: 4em;
}

button {
    background-color: transparent;
    border-radius: 20px;
}

.option,
button {
    font-size: 8em;
    cursor: default;
}

.option {
    opacity: 0.3;
}

.option.active {
    opacity: 1;
}

button {
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.6;
    translate: 0 -10px;
}

#message {
    width: 100%;
    text-align: center;
    font-size: 4em;
    transition: all 300ms ease-in-out;
}

.hidden {
    opacity: 0;
}
